nav {
    display: flex;
    justify-content: space-between;
    background: $black;
    height: 10vh;
    width: 100%;
    button {
        border: none;
        border-left: 1px solid white;
        width: 150px;
        background: none;
        color: white;
        padding: 10px;
        &:focus {
            color: $blue
        }
        &:not(:first-of-type) {
            border-right: 1px solid white;
        }
    }
}

.toggle-button-container {
    display: flex;
}

@media (max-width: 700px) {
    nav {
        flex-direction: column;
        height: 40vh;
        flex-wrap: wrap;
        background: $blue;
        button {
            width: 100%;
            border-right: 1px solid white;
            color: $black;
        }
    }
    .toggle-button-container {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .sighting-title img {
        display: none;
    }
}